
.chat-right-bar{
	margin-right:300px!important;	
}
.p-10-20{
	padding:10px 20px;
}
.shw-rside{
	width:300px;
}
.show-chat-rightbar{
	top:60px;
}
.show-chat-rightbar .rpanel-title {
    background: #ff6849!important;
}
.chat-main-box{
	margin-top:20px;
}
.chat-customer-information input{
	margin:5px 0px;
}

.chat-right-bar .title-heading {
    font-size: 14px;
    background: #f7fafc;
    margin: 0px;
    padding: 12px 20px;
    text-transform: uppercase;
    font-weight: 500;
}
.customer-title{
	background:#4c5667;
	padding:10px 20px;
	color:#fff;
}

.customer-title .customer-hidden-text {
    border: none;
    background: #4c5667;
	color:#fff;
}
.customer-title h3{
	margin-bottom:0px;
}
.customer-info{
	padding:20px 0px;
	background:#f5f5f5;
}
.customer-information{
	width:100%;
	background:#f5f5f5;
}

.customer-information td{
	padding:10px 0px;
}
.customer-information .icon{
	width:50px;
	padding:5px 0px 5px 30px;
	
	
}
.customer-information tr{
	border-left:3px #f5f5f5 solid;
}
.customer-information tr:hover{
	background:#fff;
	border-left:3px #03a9f3 solid;
}

.customer-information tr:hover input{
	background:#fff;
	border:1px #03a9f3 solid;
}
.customer-title input{
    font-family: Arial, sans-serif;
    color:#fff!important;
}

.customer-information input{
	background:#f5f5f5;
	border:none;
	font-family: Arial, sans-serif;
	padding:5px;
}
.customer-information .fa{
	padding-right:20px;
	
}
.mail-box .sm-side .m-title h3 {
    margin: 8px 0 0 0;
    font-size: 20px;
    font-weight: 400;
}

.history{
	margin:0px;
	padding:0px;
	list-style-type:none;
}
.history li{
 border-bottom: 1px solid rgba(120, 130, 140, 0.13);
 display: block;
 padding: 5px 5px;
 list-style:none;
 list-style-type:none;
}
.history li a{
	font-size:12px;
	font-weight:bold;
}
.history li .time{
	display: block;
  font-size: 10px;
  color: #2b2b2b;
}
.top-select-domain{
	border:1px #fff solid;
	margin-top:10px;
}
.border-1px-ccc{
	padding-bottom:10px;
	margin-bottom:10px!important;
	border-bottom:1px #f4f4f4 solid!important;
}
.pannel-chatbox{
    border: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
}
.pannel-chatbox-heading{
	background-color:#fbfafd!important;
}

.pannel-chatbox .pannel-chatbox-input{
	width:70%;
	font-weight:normal;
	padding:5px;
	background:#fbfafd;
	border:1px #fbfafd solid;
}
.pannel-chatbox .pannel-chatbox-input:focus,
.pannel-chatbox .pannel-chatbox-input:active,
.pannel-chatbox .pannel-chatbox-input:hover{
	background:#fff!important;
	border:1px #ccc solid;
	box-shadow: inset 0 0.08em 0.08em rgba(0,0,0,0.08);
}
.pannel-chatbox-body{
	text-align:center;
}
.chat-agent-image{
	margin:50px 0px 30px;
}
.pannel-chatbox-body-textarea{
	border:#fff;
	background:#fff;
	width:90%;
	margin-bottom:50px;
	text-align:center;
}
.pannel-chatbox-footer{
	
	border-top: 1px dashed #e0e0e0!important;
}
.chat-bg-color{
	background:#4c5667;
}
.chat-bg-color input{
	background:#4c5667;
	border:1px #4c5667 solid;
	color:#fff;
	padding:5px;
	font-size:14px;
	width:80%;
}
.chat-bg-color h3:hover input{
	background:#fff;
	border:1px #4c5667 solid;
	color:#4c5667;
}
.chat-bg-color h3{
	line-height:20px;
}
.chat-kh-province{
	color:#fff;
}

.steamline .sl-item{
	border-bottom:1px #eee dashed;
	padding-bottom:20px;
}

/* bloom */
.et_bloom_premade_grid {
    clear: both;
    margin-bottom: 50px;
}

.et_bloom_premade_item {
    width: 22%;
    height: auto;
    float: left;
    margin: 0 1% 1% 0;
    cursor: pointer;
    padding: 1%;
    border: 3px solid #FFF;
    border-radius: 3px;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	margin-bottom:30px;
	margin-right:25px;
}
.et_bloom_premade_item:hover{
	 border-color: #4fd1cd;
}
.et_bloom_premade_item_inner {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}
.et_bloom_premade_item_inner img {
    width: 100%;
    margin-bottom: -6px;
}
.asColorPicker-trigger{display:none;}
.change-color{
	cursor:pointer;
	border:1px #ccc solid;
	padding:5px;
}

.note-editor .btn-default{
	background:#fff!important;
}

.fix-300px{
	width:300px;	
}
.valign-middle td{
	vertical-align: middle!important;
}
.color-blue{
	border:1px #03a9f3 solid;
}
.box-cauhinh-popup .panel-body{
	padding:0px!important;
}
.inline-editor:active,
.inline-editor:focus{
	border:1px #03a9f3 solid;	
}
.white-box-full {
	background:#fff!important;
	margin:0px 0px 15px 0px;
}
.white-box-full .box-title {
	margin: 0px 0px 12px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
	padding:25px 25px 10px 25px;
}
.white-box-full table{
	background:#fff!important;
	margin-bottom:0px!important;
}
.white-box-full .white-box{
	padding:0px 25px;
}
.adwords-btn-fixwidth{
	width:150px!important;
}